// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


//header
.nav-wrapper{
   height: 600px;
   background-image: url("../img/v-hero.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: fixed;

   nav{
      .navbar-brand {
         max-width: 320px;
      }

      .nav-link {
         margin-left: 13.5px;
         margin-right: 13.5px;
         font-family: Montserrat;
         font-size: 16px;
         color: rgb(32, 60, 27);
      }
   }
}

// home
.home-wrapper {
   margin-top: 20px;
   p {
      color: rgba(8,18,8,.6);
   }

   .btn-wrapper{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .btn {
         font-family: Montserrat;
         font-size: 18px;
         background-color: rgb(121, 114, 114);
         color: white;
         padding: 21px 34px;
         border-radius: 0 !important;
         align-items: flex-end;
      }
   }

   .pink-rose-wrapper {
      height: 400px;
      background-image: url("../img/pink-rose.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;

   }

   .event-wrapper {
      margin-top: 20px;
      // img {
      //    margin-bottom: 20px;
      // }
   } 

   .consultation-wrapper {
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .bride-bg-wrapper {
      height: 400px;
      // width: 100%;
      background-image: url("../img/bride-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;

   }
   
}

