// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: rgba(8, 18, 8, 0.6);
$primary-font: Minion Pro Regular;
$button-font: PT Sans Narrow;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$nav-toggler: #274d35;
