//home header
.page-template-home-template {
	.nav-wrapper {
		height: 600px;
		background-image: url("../img/v-hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;

		nav {
			.navbar-brand {
				max-width: 320px;
			}

			.nav-link {
				margin-left: 13.5px;
				margin-right: 13.5px;
				font-family: Montserrat;
				font-size: 16px;
				color: rgb(32, 60, 27);
				letter-spacing: -0.8px;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}

// clean header
.page-template-venue,
.page-template-babycakes,
.page-template-catering,
.page-template-florist {
	.nav-wrapper {
		height: 400px;

		nav {
			.navbar-brand {
				max-width: 320px;
			}

			.nav-link {
				margin-left: 13.5px;
				margin-right: 13.5px;
				font-family: Montserrat;
				font-size: 16px;
				color: rgb(32, 60, 27);
				letter-spacing: -0.8px;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}

// home
.home-wrapper {
	margin-top: 20px;
	font-family: $primary-font;
	p {
		color: rgba(8, 18, 8, 0.6);
	}

	.btn-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 20px;
	}

	.pink-rose-wrapper {
		height: 400px;
		background-image: url("../img/pink-rose.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}

	.event-wrapper {
		margin-top: 20px;
	}

	.consultation-wrapper {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.bride-bg-wrapper {
		height: 400px;
		background-image: url("../img/bride-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}

	.cupcakes {
		height: 400px;
		background-image: url("../img/cupcakes.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
	}
}

// venue
.page-template-venue {
	h1 {
		font-weight: bold;
	}

	.flex-right {
		margin-left: auto;
	}

	.logo {
		width: 132px;
	}

	.package-header {
		font-weight: bold;
		font-style: italic;
		text-decoration: underline;
	}

	.entry-title {
		display: none;
	}
}

// babycakes
// .page-template-babycakes {
// }

// RLM Florist
.page-template-florist {
	.floral-image {
		height: 480px;
	}
}

// footer
#wrapper-footer {
	background: #262626;
	color: white;
	font-family: $button-font, sans-serif;
	letter-spacing: 1px;

	.footer-link {
		margin-right: 20px;
		margin-bottom: 50px;
	}

	.hours {
		font-size: 14px;
	}

	img {
		height: 100px;
		width: 100px;
	}

	.social-holder {
		padding-top: 1rem;

		.fb {
			height: 50px;
			width: 50px;
		}

		.fa-facebook-f {
			color: #3b5998;
		}
		i {
			&:hover {
				color: #cccccc;
			}
		}
	}
}
