.mb-hero-img {
	height: 250px;
	background-image: url("../img/v-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: scroll;

	@media (min-width: 350px) {
		background-position: center;
	}
	@media (min-width: 650px) {
		background-position: top;
	}
	@media (min-width: 850px) {
		background-position: center -100px;
	}
}
