.page-template-catering {
	p {
		margin-top: 2rem;
		margin-bottom: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
		@media (min-width: $md) {
			text-align: start;
			margin-top: 0;
			padding: 0;
		}
	}
}
