// home
.home-wrapper {
	@media (min-width: $lg) {
		margin-top: 20px;
		.mb-hero-img {
			display: none;
		}
	}

	font-family: $primary-font;
	p {
		color: rgba(8, 18, 8, 0.6);
	}

	.thumb-img {
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.btn-wrapper {
		display: flex;
		margin-bottom: 20px;
		justify-content: center;
		@media (min-width: $lg) {
			justify-content: flex-end;
		}
	}

	.pink-rose-wrapper {
		height: 400px;
		background-image: url("../img/pink-rose.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media (min-width: 400px) {
			background-attachment: fixed;
		}
	}

	.event-wrapper {
		@media (min-width: $md) {
			margin-top: 20px;
		}
	}

	.consultation-wrapper {
		@media (min-width: $lg) {
			margin-top: 20px;
		}
		margin-bottom: 20px;
	}

	.bride-bg-wrapper {
		height: 400px;
		background-image: url("../img/bride-bg.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media (min-width: 400px) {
			background-attachment: fixed;
		}
	}

	.cupcakes {
		height: 400px;
		background-image: url("../img/cupcakes.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;

		@media (min-width: 400px) {
			background-attachment: fixed;
		}
	}
}
