.btn {
	font-family: Montserrat;
	font-size: 18px;
	background-color: rgb(121, 114, 114);
	color: white;
	padding: 21px 34px;
	border-radius: 0 !important;
	align-items: flex-end;
}

hr {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-top: 1px solid #ffc4b5;
}
