html {
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $primary;
	font-family: $primary-font;
	font-size: 18px;
	min-height: 100%;
}

.btn {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 18px;
	background-color: rgb(121, 114, 114);
	letter-spacing: 1.8px;
	color: white;
	padding: 21px 34px;
	border-radius: 0 !important;
	align-items: flex-end;
	&:hover {
		background-color: #948e8e;
		color: white;
	}
}

hr {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-top: 1px solid #ffc4b5;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

// .md-center {
// 	@
// }

.flex-center {
	display: flex;
	justify-content: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.inline {
	display: inline;
}

em {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}

a {
	// color: black;
	&:hover {
		color: $primary;
	}
}
