// venue
.page-template-venue {
	h1 {
		font-weight: bold;
	}

	.flex-right {
		margin-left: auto;
	}

	.logo {
		width: 132px;
	}

	.package-header {
		font-weight: bold;
		font-style: italic;
		text-decoration: underline;
	}

	.entry-title {
		display: none;
	}
}